.admin-container {
    display: flex;

    .admin-sidebar {
        height: 100vh;
    }
    .admin-content {
        width: 100%;
        .admin-header {
            height: 60px;
            border-bottom: 1px solid #ccc;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px 0 10px;

            .leftside {
                cursor: pointer;
                font-size: 20px;
                color: #666;
            }

            .rightside {
                display: flex;
                gap: 15px;
            }
        }

        .admin-content-details {
            height: calc(100vh - 40px);
        }
    }
}