.b-profile {
    ul[role="tablist"] {
        li {
            button {
                color: black;
    
                &.active {
                    color: blue;
                }
            }
        }
    }

    .img-preview {
        border: 1px dashed #ccc;
        color: #ccc;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .upload-label {
        display: flex;
        align-items: center;
        width: fit-content;
        padding: 3px 10px;
        border-radius: 5px;
        gap: 5px;
        background-color: #eee;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #dcdcdc;
        }
    }

    .pass-group {
        position: relative;

        .icons-eye {
            cursor: pointer;
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }
}