.login-container {

    .loaderIcon {
        margin-right: 7px;
        color: #79baee;
        top: 2px;
        animation: spin 1s infinite linear;
    }
    
    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }
        to {
            transform: scale(1) rotate(360deg);
        }
    }

    .header {
        height: 45px;
        padding: 5px 100px 0 100px;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: end;
        gap: 10px;

        button {
            padding: 3px 15px;
            margin-left: 3px;
            border-radius: 5px;
            background-color: #b8b4b4;
            border: 1px solid;

            &:hover {
                background-color: #7f7e7e;
            }
        }
    }

    .title {
        font-size: 25px;
        padding: 20px 0;
        text-align: center;
    }

    .welcome {
        padding: 10px 0;
        font-size: 20px;
        text-align: center;
    }

    .content-form {

        input {
            margin-bottom: 15px;
            margin-top: 3px;
        }

        button {
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 5px ;
            margin: 20px 0;
            color: white;
            background-color: black;

            &:disabled {
                cursor: no-drop;
                background-color: #ddd !important;
                color: #afafaf !important;
            }
        }

        .text-center {
            span {
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                    color: blue;
                }
                padding-left: 4px;
            }
        }

        .pass-group {
            position: relative;

            .icons-eye {
                cursor: pointer;
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
        }
    }
}